.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 0 1rem;
}

.headingXl {
  font-size: 2.1rem;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: -0.05rem;
  margin: 0 0.5rem;
}

.headingLg {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  padding: 0 0.8rem;
  align-self: center;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
  background: #fff;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
}

.lightText {
  color: #000;
  font-weight: 300;
  font-size: 0.9rem;
}

.italicText {
  font-style: italic;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.16;
}

.gradientText {
  background: rgb(0, 153, 255);
  background: -webkit-linear-gradient(
    120deg,
    rgb(0, 153, 255) 0,
    rgb(0, 218, 230) 100%
  );
  background: -moz-linear-gradient(
    120deg,
    rgb(0, 153, 255) 0,
    rgb(0, 218, 230) 100%
  );
  background: linear-gradient(
    160deg,
    rgb(0, 153, 255) 0,
    rgb(0, 218, 230) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.emoji {
  font-size: 26px;
  padding: 0 0 0 3px;
}

.nav {
  display: flex;
  background: #fff;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  justify-content: space-around;
  margin-top: 1rem;
}

.postTitle {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.05rem;
  margin: 1rem 0 0;
  padding: 0 1.3rem;
  align-self: center;
}

.postDate {
  padding: 0.4rem 1.3rem;
  margin-bottom: 0.5rem;
}

.postText {
  background: rgba(255, 255, 255, 1);
  padding: 0.1rem 1.3rem;
  border-radius: 0.5rem;
}

.introContainer {
  display: flex;
  flex-wrap: wrap;
  font-family: "Fira Code", monospace;
  margin: 1rem 0;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  font-size: 0.86rem;
  background-color: #fff;
  padding: 0.8rem;
  border-radius: 0.5rem;
  word-wrap: break-word;
  letter-spacing: 1px;
  min-width: 0;
}

.left {
  flex-grow: 2;
}

.right {
  flex-grow: 1;
  align-self: stretch;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.typedText {
  border-right: 0.08em solid black;
  width: 21.3ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(19, end),
    blink-caret 0.5s step-end infinite alternate;
  -webkit-animation: typing 2s steps(19, end),
    blink-caret 0.5s step-end infinite alternate;
}

.linksContainer {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 2rem 0;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.projectLink {
  display: flex;
  max-width: fit-content;
  font-size: 1.1rem;
  text-decoration: none;
  color: azure;
  background-color: #000;
  padding: 0.3rem;
  border-radius: 0.3rem;
  letter-spacing: 1px;
  text-align: center;
  flex-wrap: nowrap;
}

.quoteContainer {
  background-color: rgb(207, 147, 255);
  color: rgb(74, 255, 255);
  padding: 1rem 1.2rem;
  border-radius: 0.5em;
  text-align: justify;
  margin: 1rem 0;
}

.quoteText {
  font-size: 1.3rem;
}

.photo {
  max-width: 800px;
  border-radius: 0.5rem;
}
